body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    color: #333;
    background-color: #fdfdfd;
}

header {
    background-color: #fdfdfd;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-toggle {
    display: none;
}

.navbar ul {
    display: flex;
    justify-content: right;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.5s ease;
}

.navbar a:hover {
    color: #cfa259;
    font-weight: bold;
    transition: ease-in-out 0.2s;
}

ul {
    list-style: none;
    padding: 0;
}

h2{
    color: #333;
}

h3 {
    display: flex;
    color: #333;
    margin: 0;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('Home.png') no-repeat center center/cover;
    color: #fff;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home h1 {
    font-size: 4rem;
    margin: 0;
}

.home h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: lighter;
    color: #fdfdfd;
}

.home p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #cfa259;
}

section {
    padding: 1rem;
    text-align: center;
}

.about, .services, .contact {
    background: #fff;
    margin: 1rem 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.about {
    padding: 320px;
    background: url('About.png') no-repeat center center/cover;
}

.about h1 {
    font-size: 2.4rem;
    margin: 0;
}

.grey h1 {
    font-weight: bold;
    color: #333;
    font-size: 1.7rem;
    margin-top: 50px;
}

.grey p {
    color: rgb(82, 82, 82);
    font-size: 1.2rem;
}

.services h2 {
    font-size: 2.5rem;
}

.services ul li {
    margin: 0.5rem 0;
    font-size: larger;
    color: rgb(82, 82, 82);
}

.services video {
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
    border: 2px solid #cfa259;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

video {
    width: 30%;
    aspect-ratio: 16 / 9;
    z-index: 1;
    position: relative;
}

.contact h2 {
    margin-top: 0;
    font-size: 2.5rem;
    text-align: center;
}

.contact a {
    color: #cfa259;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.contact a:hover {
    text-decoration: underline;
    font-size: larger;
    transition: ease-in-out 0.2s;
}

footer {
    background: #333;
    color: #fdfdfd;
    text-align: center;
    padding: 1px 0;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 5px;
        text-align: center;
        width: 100%;
        background: white;
        position: absolute;
        top: 50px;
        left: 0;
        display: none;
        z-index: 1000;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar a {
        font-size: 0.9rem;
        margin-bottom: 3px;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1.2rem;
        color: #333;
    }

    .navbar ul.active {
        display: flex;
    }

    .home h1 {
        font-size: 1.5rem;
    }

    .home h2 {
        font-size: 1rem;
    }

    .home p {
        font-size: 1rem;
        margin: 0;
    }

    .about {
        padding: 50px;
    }

    .about h1 {
        font-size: 1.3rem;
    }

    .about p {
        font-size: 1rem;
    }

    .services {
        font-size: 0.8rem;
    }

    video {
        width: 70%;
        aspect-ratio: 16 / 9;
        border-radius: 5px;
    }

    .services h2, .contact h2 {
        font-size: 1.2rem;
    }

    .contact p, .contact a {
        font-size: 0.8rem;
        margin: 5px;
    }
}
